#html {
    color: #E34F26; /* Couleur du logo HTML */
}
#css {
    color: #1572B6; /* Couleur du logo CSS */
}
#javascript {
    color: #F7DF1E; /* Couleur du logo JavaScript */
}
#python {
    color: #3776AB; /* Couleur bleue du logo Python */
}
#nodejs {
    color: #8CC84B; /* Couleur du logo Node.js */
}
#react {
    color: #61DAFB; /* Couleur du logo React */
}
#php {
    color: #8892BE; /* Couleur du logo PHP */
}
#java{
    color: #FF8C00; /* Couleur du logo Java */
}

#kotlin{
    color: #0095D5; /* Couleur du logo Kotlin */
}